App_WebReferences/LMS_UserDetails/OE_UserDetails.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdUserInformationDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="flag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdUserInformationDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdUserInformationDetailsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdUserDeviceDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="flag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdUserDeviceDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdUserDeviceDetailsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdUserBatchDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="flag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdUserBatchDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdUserBatchDetailsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="UpdUserInformationDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdUserInformationDetails" />
  </wsdl:message>
  <wsdl:message name="UpdUserInformationDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdUserInformationDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdUserDeviceDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdUserDeviceDetails" />
  </wsdl:message>
  <wsdl:message name="UpdUserDeviceDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdUserDeviceDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdUserBatchDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdUserBatchDetails" />
  </wsdl:message>
  <wsdl:message name="UpdUserBatchDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdUserBatchDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="OE_UserDetailsSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdUserInformationDetails">
      <wsdl:input message="tns:UpdUserInformationDetailsSoapIn" />
      <wsdl:output message="tns:UpdUserInformationDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdUserDeviceDetails">
      <wsdl:input message="tns:UpdUserDeviceDetailsSoapIn" />
      <wsdl:output message="tns:UpdUserDeviceDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdUserBatchDetails">
      <wsdl:input message="tns:UpdUserBatchDetailsSoapIn" />
      <wsdl:output message="tns:UpdUserBatchDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="OE_UserDetailsHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="OE_UserDetailsHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OE_UserDetailsSoap" type="tns:OE_UserDetailsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdUserInformationDetails">
      <soap:operation soapAction="http://tempuri.org/UpdUserInformationDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdUserDeviceDetails">
      <soap:operation soapAction="http://tempuri.org/UpdUserDeviceDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdUserBatchDetails">
      <soap:operation soapAction="http://tempuri.org/UpdUserBatchDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OE_UserDetailsSoap12" type="tns:OE_UserDetailsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdUserInformationDetails">
      <soap12:operation soapAction="http://tempuri.org/UpdUserInformationDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdUserDeviceDetails">
      <soap12:operation soapAction="http://tempuri.org/UpdUserDeviceDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdUserBatchDetails">
      <soap12:operation soapAction="http://tempuri.org/UpdUserBatchDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OE_UserDetailsHttpGet" type="tns:OE_UserDetailsHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OE_UserDetailsHttpPost" type="tns:OE_UserDetailsHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OE_UserDetails">
    <wsdl:port name="OE_UserDetailsSoap" binding="tns:OE_UserDetailsSoap">
      <soap:address location="http://49.248.17.3:85/WebService_Admin/OE_UserDetails.asmx" />
    </wsdl:port>
    <wsdl:port name="OE_UserDetailsSoap12" binding="tns:OE_UserDetailsSoap12">
      <soap12:address location="http://49.248.17.3:85/WebService_Admin/OE_UserDetails.asmx" />
    </wsdl:port>
    <wsdl:port name="OE_UserDetailsHttpGet" binding="tns:OE_UserDetailsHttpGet">
      <http:address location="http://49.248.17.3:85/WebService_Admin/OE_UserDetails.asmx" />
    </wsdl:port>
    <wsdl:port name="OE_UserDetailsHttpPost" binding="tns:OE_UserDetailsHttpPost">
      <http:address location="http://49.248.17.3:85/WebService_Admin/OE_UserDetails.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>